# Python
__pycache__/
*.py[cod]
*.pyo

# Packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/

# Test cache
.pytest_cache/
.mypy_cache/

# IDE
.vscode/
.idea/

# Local files
.certbot/
lws.ini

# OS
.DS_Store
Thumbs.db
